/* Estilos para el encabezado h1 */
h1 {
  color: blue;
  font-size: 28px;
  text-align: center;
}


/* Estilos para los párrafos */
p {
  color: white;
  font-size: 16px;
  background-color: red;
  text-align: center;
  border: 2px solid blue;
}

/* Estilos para los enlaces */
a {
  color: red;
  text-decoration: none;
}
a {
  background-color: blue;
  color: white; /* Para asegurar que el texto sea legible en el fondo azul */
  padding: 5px; /* Opcional: Agrega espacio alrededor del texto para que el fondo sea visible */
  /*text-decoration: none; /* Opcional: Quita la decoración de subrayado predeterminada de los enlaces */
}


/* Estilos para los enlaces cuando están en estado de enlace */
a:link {
  font-weight: bold;
}

/* Estilos para los enlaces cuando están en estado de visita */
a:visited {
  color: purple;
}

/* Estilos para los enlaces cuando están en estado de hover (al pasar el cursor por encima) */
a:hover {
  text-decoration: underline;
}

/* Estilos para los enlaces cuando están en estado de focus (cuando están seleccionados) */
a:focus {
  background-color: yellow;
}
li:focus{
background-color: white;
text-decoration: underline;
}

div {
background-color: purple;
text-align: center;
color: white;
margin-block: ;
}  

