/* Estilos para el encabezado h1 */
h1 {
  color: blue;
  font-size: 28px;
  text-align: center;
}

 

 }
/* Estilos para los párrafos */
p {
  color: white;
  font-size: 16px;
  background-color: red;
  text-align: center;
  border: 2px solid blue;
}

 a{color: white;}

/*div {
background-color: purple;
text-align: center;
color: white;
margin-block: ;
} */

img {
  position: relative;
    top: 50px; /* Desplazamiento desde su posición original */
    left: 100px; /* Desplazamiento desde su posición original */
    width: 200px;
    height: 100px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
}


  .nueva {
  width: 300px; /* Ancho del div */
    height: 200px; /* Alto del div */
    margin-left: 59px;
    background-color: purple; /* Color de fondo del div (opcional) */
    border: 1px solid #ccc; /* Borde del div (opcional) */
    padding: 10px; /* Relleno del contenido dentro del div (opcional) */
    font-size: 16px; /* Tamaño de fuente del contenido (opcional) */
    color: #333; /* Color del texto del contenido (opcional) */
}

.otra_clase{

background-color: purple;
    padding: 10px;
    border: 11px solid red;
    font-size: 23px;
    color: yellow;

}

