/* Estilos para el encabezado h1 */
h1 {
  color: blue;
  font-size: 28px;
  text-align: center;
}

 

 }
/* Estilos para los párrafos */
p {
  color: white;
  font-size: 16px;
  background-color: red;
  text-align: center;
  border: 2px solid blue;
}

 a{color: white;}

/*div {
background-color: purple;
text-align: center;
color: white;
margin-block: ;
} */

img {
  padding: 5px;
  border: 12px solid blue; /* Agrega un borde sólido de 2 píxeles de ancho y color rojo */
  position: relative;
    width: 300px;
    height: 200px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}


  .nueva {
    position: absolute;
    top: 150px; /* Desplazamiento desde la parte superior */
    left: 50px; /* Desplazamiento desde la izquierda */
    width: 300px; /* Ancho del div */
    height: 300px; /* Alto del div */
    /*margin-left: 359;*/
    background-color: purple; /* Color de fondo del div (opcional) */
    border: 11px solid red; /* Borde del div (opcional) */
    padding: 10px; /* Relleno del contenido dentro del div (opcional) */
    font-size: 16px; /* Tamaño de fuente del contenido (opcional) */
    color: #333; /* Color del texto del contenido (opcional) */
}

.otra_clase{

background-color: purple;
    padding: 10px;
    border: 11px solid red;
    font-size: 23px;
    color: yellow;

}

#mi-div {
    position: absolute;
    top: 150px; /* Desplazamiento desde la parte superior */
    left: 400px; /* Desplazamiento desde la izquierda */
    width: 200px;
    height: 100px;
    background-color: red;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

#mi-div_1 {
    position: absolute;
    top: 150px; /* Desplazamiento desde la parte superior */
    left: 650px; /* Desplazamiento desde la izquierda */
    width: 200px;
    height: 100px;
    background-color:green;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
}