/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.lista {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.lista li {
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* Efecto de iluminación cuando se pasa el mouse */
.lista li:hover {
    background-color: orange;
    color: #ffffff; /* Cambiar el color del texto cuando se ilumina */
}
